.MuiInputBase-input::placeholder {
  color: #6b747f !important;
}

.html {
  font-family: 'Public Sans';
}

.MuiFormGroup-root.MuiRadioGroup-root {
  display: flex;
  flex-direction: column !important;
}

#personalCode .MuiOutlinedInput-notchedOutline {
  border: none !important;
  border-radius: 50%;
}

input[type='radio'] {
  border-radius: 50%;
}
input[type='radio' i]:focus-visible {
  outline: none !important;
}
.MuiStepLabel-iconContainer {
  z-index: 3;
}

#basicInformation-content .css-34zkho-MuiAccordionDetails-root {
  padding: 0;
  margin-top: -12px;
}

#basicInformation-header .MuiAccordionSummary-content {
  margin: 0;
  padding: 20px 0;
}

.css-telt6a-MuiContainer-root {
  background: white !important;
}

.MuiAccordionDetails-root {
  padding-bottom:0 !important;
}