.MuiInputBase-input::placeholder {
  color: black !important;
}

html,
body {
  font-family: 'Public Sans';
}

.MuiFormGroup-root.MuiRadioGroup-root {
  display: flex;
  flex-direction: column !important;
}
.rc-ses-form-field-wrapper.MuiBox-root.css-jx62xo {
  margin-bottom: auto;
}
#personalCode .MuiOutlinedInput-notchedOutline {
  border: none !important;
  border-radius: 50%;
}

input[type='radio'] {
  border-radius: 50%;
}
input[type='radio' i]:focus-visible {
  outline: none !important;
}
.MuiStepLabel-label {
  margin-top: 0 !important;
}
.MuiStepLabel-iconContainer {
  z-index: 3;
}

#basicInformation-content .css-34zkho-MuiAccordionDetails-root {
  padding: 0;
  margin-top: -12px;
}
.rc-ses-form-field-wrapper.MuiBox-root.css-jx62xo {
  padding: 0;
}

#basicInformation-header .MuiAccordionSummary-content {
  margin: 0;
  padding: 20px 0;
}

.css-telt6a-MuiContainer-root {
  background: white !important;
}

.MuiAccordionDetails-root {
  padding-bottom: 0 !important;
}
.css-1qxpdxg-MuiPaper-root-MuiAccordion-root.Mui-expanded .MuiAccordionSummary-root {
  background: none !important;
}
.MuiAlert-icon {
  margin-bottom: auto;
}
.css-1oxtpma-MuiContainer-root {
  background-color: white !important;
}

.MuiAccordionDetails-root {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
@media (max-width: 900px) {
  .MuiAccordionDetails-root {
    padding: 16px !important;
  }
  .css-1wcp9g1-MuiPaper-root-MuiAccordion-root.Mui-expanded .MuiAccordionSummary-root {
    padding: 0 16px;
  }
  .css-rvh1wf-MuiContainer-root {
    padding-bottom: 20px !important;
  }
  .css-1wcp9g1-MuiPaper-root-MuiAccordion-root.Mui-expanded .MuiAccordionSummary-content {
    margin: 0 !important;
    font-size: 20px !important;
  }
  .css-6gbqce {
    font-size: 20px !important;
  }
  .css-16kw1zo-MuiTypography-root {
    font-size: 16px !important;
  }
  .css-sa22va-MuiTypography-root {
    margin-left: 0 !important;
  }
  .css-1np9d6z-MuiPaper-root-MuiDialog-paper {
    margin: 0 !important;
  }
  /* .css-19hoja1-MuiModal-root-MuiDialog-root .MuiDialogContent-root {
  padding:0px !important;
  } */
  .css-19hoja1-MuiModal-root-MuiDialog-root .MuiDialogContent-root {
    padding: 0 !important;
  }
  .css-1eqm1bn {
    border: none !important;
  }
  .css-1sep8xo-MuiDialog-container {
    /* align-items: flex-end !important; */
  }
  .css-1np9d6z-MuiPaper-root-MuiDialog-paper {
    max-height: 90% !important;
  }
}

#basicInformation-header {
  background: none !important;
}
